body {
    background-color: #5f829b;
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJU0LP7nTeuYdh6sWmpAR5jscUNqPIO-s7jQ&usqp=CAU"); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}
#nav{
    width: 90%;
    display: flex;
    /* height: 300px; */
    /* border: 1px solid red; */
    text-align: center;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    color: rgb(144, 144, 131);
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#nav>a{
    color: white;
    /* border: 1px solid blue; */
}
a{
    text-decoration: none;
}
#logo{
    width: 100Px;
    border-radius: 45%;
}
table{
    align-items:center;
    margin-top: 50px;
    margin-left: 40%;
    font-size: 25px;
}

#submit{
font-size: 20px;
border-radius: 10px;
color: green;
}
